.admin-container {
    width: 99%;
    height: 99%;
    margin: 10px;
    border: 2px solid #555;
    background-color: wheat;
    color: black;

  }
  .mat-drawer {
    background-color: #2F4F4F;
    width: 20%;
    border-right: 1px solid #555;
    color: black;
  }
