.admin-container {
    width: 99%;
    height: 99%;
    margin: 10px;
    border: 2px solid #333;
    background-color: #333;
    color: black;
    overflow-y: hidden;
    width: 98%;
    height: 80%;
    display: flex;
    flex-direction: column;

  }
  .mat-drawer {
    background-color: #333;
    width: auto;
    border-right: 2px solid #222;
    overflow-y: hidden;
    overflow: hidden;
    color: white;
  }

.mat-drawer-content {
  padding: 20px;
  width: auto;
  background-color: #333;
  color: white;
  overflow-y: auto;
}


