.admin-container {
  height: 100vh;
  margin: 0;
  border: 2px solid #333;
  background-color: #333;
  color: black;
  display: flex;
  flex-direction: column;
}

.mat-drawer {
  background-color: #333;
  border-right: 2px solid #222;
  color: white;
}

.mat-drawer-content {
  padding: 20px;
  background-color: #333;
  color: white;
  overflow-y: auto;
}

.sidebar {
  margin-left: 0;
  padding: 0;
}
