.carousel {
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}
.carousel-inner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  color: black !important
}

.titleforH2{
  margin: 1rem 5%;
  font-weight: bold;
}
.carousel-control-prev-icon{
  color: black;
}
.card-img-top{
  height: 250px !important;

}
.card-title{
  font-weight: bold;
  font-size: larger;
}
.card-body{
  background-color: bisque;
}
.footer {
  background-color: #2F4F4F;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline;
  margin-right: 20px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links li a {
  color: white;
  text-decoration: none;
}

.footer-links li a:hover {
  text-decoration: underline;
}
