<h4>Product QRCode Reading</h4>

<div class="form-container">
  <mat-form-field appearance="fill" class="product-create">
    <mat-label>İsim</mat-label>
    <input matInput type="text" #txtName>
  </mat-form-field>

  <mat-form-field appearance="fill" class="product-create">
    <mat-label>Stok</mat-label>
    <input matInput type="number" min="0" #txtStock>
  </mat-form-field>

  <mat-form-field appearance="fill" class="product-create">
    <mat-label>Fiyat</mat-label>
    <input matInput type="number" min="1" #txtPrice>
  </mat-form-field>
</div>

<ngx-scanner-qrcode #scanner="scanner" (event)="onEvent($event)"></ngx-scanner-qrcode>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close id="btnClose">Kapat</button>
</mat-dialog-actions>