.table-container {
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 20px;
}

.mat-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #333;
  color: #fff;
}

.mat-table th,
.mat-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #555;
}

.mat-table th {
  background-color: #666;
}

.mat-table td {
  background-color: #444;
}

.mat-table tr:hover {
  background-color: #555;
}

.mat-paginator {
  margin-top: 20px;
}
