.example-container {
  display: flex;
  height: 100%;
}

.side-container {
  width: 20%;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.mat-drawer-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
  overflow-y: auto;
}
