.example-container {
    width: 98%;
    height: 400px;
    margin: 10px;
    background-color: darkcyan;
    border: 1px solid #555;
  }
  .side-container{
    width:20%;
    background-color: grey;
  }