<div class="container">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Ana Sayfa</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="products">Ürünler</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="basket">Basket</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="login" *ngIf="!authService.isAuthenticated" >Giriş Yap</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" *ngIf="!authService.isAuthenticated" >Kayıt Ol</a>
          </li>
       
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="">Action</a></li>
              <li><a class="dropdown-item" routerLink="">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="">Something else here</a></li>
            </ul>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="admin" *ngIf="authService.isAuthenticated && authService.isAdminUser" >Yönetim Paneli</a>
          </li>
          
          <!-- <li class="nav-item">

            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
          <li>
            <a class="nav-link active" aria-current="page" style="color:red;cursor:pointer;" (click)="signOut()" *ngIf="authService.isAuthenticated">Çıkış Yap</a>
          </li>
        </ul>
      </div>
      <div class="d-flex">
        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal" type="submit" (click)="loadComponent()" >Sepet</button>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
<ngx-spinner type="square-jelly-box" name="s1"></ngx-spinner>
<ngx-spinner type="ball-beat" name="s2"></ngx-spinner>
<ngx-spinner type="ball-scale-multiple" name="s3"></ngx-spinner>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <ng-template appDynamicLoadComponent></ng-template>
  </div>
</div>
