<mat-form-field class="create-product">
    <mat-label>Name</mat-label>
    <input #txtName matInput>
  </mat-form-field>
  <mat-form-field class="create-product">
    <mat-label>Stock</mat-label>
    <input type="number" min="0" value="0" #txtStock matInput>
  </mat-form-field>
  <mat-form-field class="create-product">
    <mat-label >Price</mat-label>
    <input type="number" min="0" value="0" #txtPrice matInput>
  </mat-form-field>
<!--   
  <mat-form-field class="create-product">
    <mat-label>Stock</mat-label>
    <textarea type="number" min="0" value="0" matInput ></textarea>
  </mat-form-field>
  <mat-form-field class="create-product">
    <mat-label>Price</mat-label>
    <textarea type="number" min="0" value="0" matInput #txtPrice></textarea>
  </mat-form-field>

  <mat-form-field class="create-product" >
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field> -->
  <button mat-button color="primary" class="btn" style="color:white" (click)="create(txtName,txtStock,txtPrice)">Create Product</button>