.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
}

.create-product {
  margin: 10px 0;
  width: 100%;
}

.btn {
  background-color: #1976d2;
  color: white;
  margin-top: 20px;
}
