.main-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #333;
  color: #fff;
  overflow-y: auto;
}

app-header, app-footer {
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
.sidebar-title{
  flex-grow: 1;
  padding: 20px;
  background-color: #333;
  color: #fff;
  overflow-y: auto;
}
.sidebar-title {
  padding: 20px;
  background-color: #333;
  color: #fff;
  overflow-y: auto;
  font-size: 24px; /* Yönetim paneli yazısını büyütmek için font boyutunu ayarla */
  display: flex; /* Yönetim paneli yazısı ve simgeleri yatay hizalamak için flex kullan */
  align-items: center; /* Dikey hizalamayı yap */
}

.sidebar-title mat-icon {
  margin-top: 4px; /* Simgeleri biraz yukarıda duracak şekilde ayarla */
}
mat-icon {
  vertical-align: middle; /* Simgeleri dikey hizalama yap */
  margin-right: 8px; /* Sağ boşluk ayarla */
}